.horarios {
  margin-bottom: 15px;
}


label {
  display: block;
  margin: 5px 0;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#resultados {
  margin-top: 20px;
}

#resultados ul {
  list-style-type: none;
  padding: 0;
}

#resultados li {
  background-color: #d1c4e9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}


.vote-btn {
  width: 100%; 
  padding: 15px;
  background: linear-gradient(135deg, #2F4F4F, #4d7979);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vote-btn:hover {
  background-color: #4b8686;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.vote-btn:active {
  transform: translateY(2px);
}


.icon-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.icon-button {
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.icon-button:hover {
  background-color:  #2F4F4F;
}
