.conteudo-principal {
    width: 100%;
    height: 52vh;
    margin-top: 92px;
}

.formulario-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4em;
}
.titulo {
    text-align: center;
    color: #ffffff;
    margin-bottom: 5em;
}

.titulo h1 {
    font-size: 3.5rem;
    margin-bottom: 0.01em;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}
  
#texto-pg-inicial {
    width: 40%; 
    height: 2.5rem;
}

#texto-pg-inicial:focus {
    box-shadow: 0 4px 8px #2F4F4F;
    outline: none;
}

.create-btn {
    width: 15% !important; 
    padding: 15px !important;
    background: linear-gradient(135deg, #2F4F4F, #4d7979) !important; 
    color: #fff !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    margin-top: 20px !important;
    transition: all 0.3s ease !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    justify-content: center;
}
  
.create-btn:hover {
    background-color: #4b8686;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.create-btn:active {
    transform: translateY(2px);
}

@media (max-width: 768px) {
    .conteudo-principal {
        height: auto; 
        padding: 1rem;
    }

    .titulo h1 {
        font-size: 2.5rem;
    }

    .formulario-inicio {
        margin-left: 0; 
        width: 100%;
    }

    #texto-pg-inicial {
        width: 80%; 
    }

    .create-btn {
        width: 30% !important; 
    }
}

@media (max-width: 480px) {
    .titulo h1 {
        font-size: 2rem; 
    }

    #texto-pg-inicial {
        width: 90%; 
    }

    .create-btn {
        width: 40% !important;
        padding: 10px !important; 
    }
}
