.botao-salvar:hover {
    background-color: #fafafa;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.botao-salvar:active {
    transform: translateY(2px);
}

.p-component {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 20px 0 #2f4f4f;
    backdrop-filter: blur( 45px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
