.container {
  width: 100%;
  max-width: 400px; /* Define um máximo de largura para o conteúdo não ficar muito grande em telas grandes */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #c4a0d7;
  height: 30px;
  width: 100%; /* Ajuste para preencher o contêiner */
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #6a1b9a;
  margin-bottom: 20px;
}

.form-group {
  width: 100%; /* Garante que o campo de entrada ocupe toda a largura disponível */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%; /* Garante que o campo de entrada ocupe toda a largura disponível */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-btn {
  width: 100%; /* Garante que o botão ocupe toda a largura disponível */
  padding: 15px;
  background-color: #c4a0d7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-btn:hover {
  background-color: #9c68b4;
}

.section {
  width: 100%; /* Garante que a seção ocupe toda a largura disponível */
  background-color: #f2c9f7;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
